{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
  

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Bootstrap CSS-->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">


  <!-- Style CSS-->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

  <style>
    body {
      font-family: 'Acme', sans-serif;
    }

    .mar {
      margin-top: 7rem;
      margin-bottom: 4rem;
    }

    .fa {
      padding: 20px;
      font-size: 30px;
      width: 70px;
      border-radius: 50%;
      text-decoration: none;
      margin: 5px 2px;
    }

    .btn1 {
      padding: 0.375rem 2.75rem;
      font-size: 20px;
    }

      {% block css %}

      {% endblock css %}
  </style>
  <title>{% block title %} {% endblock title %}</title>
</head>

<body>
  
  <!-- Navbar-->
  <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
      <a href="/" class="navbar-brand">TechnoWorld</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav px-2">

          <li class="nav-item px-2 {% block homeactive %}
          {% endblock homeactive %}">
            <a class="nav-link " href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item px-2 {% block aboutactive %}
          {% endblock aboutactive %}">
            <a class="nav-link " href="/about">About</a>
          </li>
          <li class="nav-item px-2 {% block blogactive %}
          {% endblock blogactive %}">
            <a class="nav-link " href="/blog">Blog</a>
          </li>
          <li class="nav-item px-2 {% block contactactive %}
          {% endblock contactactive %}">
            <a class="nav-link " href="/contact">Contact</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item px-2 active">
            <a class="nav-link " href="#">Hi &nbsp; {{user.username}}</a>
          </li>
          {% endif %}

        </ul>

      </div>
      <form method="get" action="/search/" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name="query" id="query" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <!-- logout button -->
      {% if user.is_authenticated %}
      <a href="/logout1/">
        <button type="button" class="btn btn-secondary my-2 ml-2 my-sm-0">
          Logout
        </button>
      </a>
      {% else %}
      <!-- login modal -->
      <button type="button" class="btn btn-secondary my-2 ml-2 my-sm-0" data-toggle="modal" data-target="#loginModal">
        Login
      </button>
      <!-- signup modal -->
      <button type="button" class="btn btn-secondary my-2 ml-2 my-sm-0" data-toggle="modal" data-target="#signupModal">
        Join
      </button>
      {% endif %}
    </div>
  </div>

  {% block body %} {% endblock body %}

  <!-- Modal signup -->
  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title text-success text-center" id="exampleModalLabel">Join Us Now</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          {% for msgs in messages  %}
          {% if msgs.tags == 'password error' %}
          <div class="alert alert-danger">
            <h5>{{msgs}}</h5>
          </div>
          {% endif %}
          {% if msgs.tags == 'username error' %}
          <div class="alert alert-danger">
            <h5>{{msgs}}</h5>
          </div>
          {% endif %}
          {% if msgs.tags == 'userlen error' %}
          <div class="alert alert-danger">
            <h5>{{msgs}}</h5>
          </div>
          {% endif %}
          {% if msgs.tags == 'useralnum error' %}
          <div class="alert alert-danger">
            <h5>{{msgs}}</h5>
          </div>
          {% endif %}
          {% if msgs.tags == 'passlen error' %}
          <div class="alert alert-danger">
            <h5>{{msgs}}</h5>
          </div>
          {% endif %}
          {% if msgs.tags == 'email error' %}
          <div class="alert alert-danger">
            <h5>{{msgs}}</h5>
          </div>
          {% endif %}
          {% endfor %}


          <form class="needs-validation" action="/signup/" method="post" novalidate>
            {% csrf_token %}

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="firstname">First Name</label>
                <input type="text" name="first_name" class="form-control" id="firstname" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please provide a valid Name.
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="lastname">Last Name</label>
                <input type="text" name="last_name" class="form-control" id="lastname" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please provide a valid Name.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" name="username" class="form-control" id="username" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please provide a unique Username.
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" class="form-control" id="email" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please provide a valid Email.
              </div>
            </div>
            <div class="form-group">
              <label for="pass1">Password</label>
              <input type="password" name="password1" class="form-control" id="pass1" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please provide a valid Password.
              </div>
            </div>
            <div class="form-group">
              <label for="pass2">Confirm Password</label>
              <input type="password" name="password2" class="form-control" id="pass2" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please provide a Confirmation Password.
              </div>
            </div>
            <div class="modal-footer justify-content-center">
              <button type="submit" class="btn btn-outline-success btn1">Join</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



  <!-- Modal login -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title text-success text-center" id="exampleModalLabel1">Login Here</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          {% for msgs in messages %}
          {% if msgs.tags == 'success' %}
          <div class="alert alert-success">
            <h5>{{msgs}}</h5>
          </div>
          {% endif %}
          {% if msgs.tags == 'loginerror error' %}
          <div class="alert alert-danger">
            <h5>{{msgs}}</h5>
          </div>
          {% endif %}
          {% endfor %}
          <form class="needs-validation" action="/login1/" method="post" novalidate>
            {% csrf_token %}
            <div class="form-group">
              <label for="username1">Username</label>
              <input type="text" name="username" class="form-control" id="username1" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please provide Your Username.
              </div>
            </div>

            <div class="form-group">
              <label for="pass12">Password</label>
              <input type="password" name="password" class="form-control" id="pass12" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please provide Your Password.
              </div>
            </div>

            <div class="modal-footer justify-content-center">
              <button type="submit" class="btn btn-outline-success btn1">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



  <!-- Modal login success -->
  <div class="modal fade" id="loginsuccessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title text-success text-center" id="exampleModalLabel4">Welcome {{user.first_name}}</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% for mg in messages  %}
          {% if mg.tags == 'loginsuccess success' %}
          <div class="alert alert-primary">
            <h4>{{mg}}</h4>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="container-fluid bg-primary my-0 py-3">
    <p class="mb-0 text-center">© 2022-2023 TechnoWorld</p>
    <p class="mb-0 text-center">
      <a href="#">Made By Diksha Bhutekar |</a>
      <a href="#">Privacy |</a>
      <a href="#">Terms</a>
    </p>
  </footer>

  {% block js %} {% endblock js %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script>
  
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
  <script>
    {% if messages %}
    {% for msgs in messages %}
    {% if msgs.tags == 'password error' %}
    $('#signupModal').modal('show')
    {% endif %}
    {% if msgs.tags == 'username error' %}
    $('#signupModal').modal('show')
    {% endif %}
    {% if msgs.tags == 'email error' %}
    $('#signupModal').modal('show')
    {% endif %}
    {% if msgs.tags == 'passlen error' %}
    $('#signupModal').modal('show')
    {% endif %}
    {% if msgs.tags == 'userlen error' %}
    $('#signupModal').modal('show')
    {% endif %}
    {% if msgs.tags == 'useralnum error' %}
    $('#signupModal').modal('show')
    {% endif %}
    {% if msgs.tags == 'success' %}
    $('#loginModal').modal('show')
    {% endif %}
    {% if msgs.tags == 'loginerror error' %}
    $('#loginModal').modal('show')
    {% endif %}
    {% if msgs.tags == 'loginsuccess success' %}
    $('#loginsuccessModal').modal('show')
    {% endif %}
    {% endfor %}
    {% endif %}

  </script>
  <script>
  let previews = document.getElementsByClassName('preview');
  Array.from(previews).forEach((element)=>{
    element.innerHTML = element.innerText
  })
  
  </script>
</body>

</html>